<h2>Search your postcode</h2>
<form name="lookup">
    <input type="text" name="postcode" />
    <button class="btn btn-primary" style="margin-top: 20px"><span>Go</span></button>
</form>
<div class="js-results" style="display: none">
    <div>
        <h3>The key stats</h3>

        <div class="chart-container-comparison" style="float: right;margin-bottom: 60px; width:700px; height:300px; ">
          <canvas id="comparison"></canvas>
        </div>

        <p class="js-stats"></p>
    </div>
    <div style="border-top: 1px solid rgba(54, 54, 54, 0.5); clear: both">
        <h3>How does the distribution compare?</h3>
        <div class="chart-container-distribution" style="margin: 0 auto; width:800px; height:400px; ">
          <canvas id="distribution"></canvas>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
