<!DOCTYPE html>
<!--[if lte IE 8]><html class="lte-ie8 no-js" lang="en"><![endif]-->
<!--[if lte IE 9]><html class="lte-ie9 no-js" lang="en"><![endif]-->
<!--[if gte IE 10]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script>(function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)</script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>    The Issue of youth homelessness in the UK | Centrepoint</title>

    <base href="https://www.centrepoint.org.uk" />

            <meta name="description" content="Youth homelessness is not only a housing problem. There are lots of reasons why a young person could need help with homelessness, including family breakdown and mental health issues.

Everyday, Centrepoint is helping homeless young people with complex needs that affect both them and their families." />

            <meta name="robots" content="index, follow">


           <meta property="og:site_name" content="Centrepoint"/>
    <meta property="og:title" content="The Issue of youth homelessness in the UK" />
    <meta property="og:url" content="https://theissue/" />
        <meta property="og:description" content="Homelessness is not only a housing problem. There are lots of reasons why a young person could become homeless, including family breakdown and mental health issues. More than 150,000 young people ask for help with homelessness every year." />
        <meta property="og:image" content="https://centrepoint.org.uk/media/1311/chloe-smiling-fence.jpg" />

        <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://theissue/">
    <meta name="twitter:title" content="The issue of youth homelessness in the UK">
        <meta name="twitter:description" content="Homelessness is not only a housing problem. There are lots of reasons why a young person could become homeless, including family breakdown and mental health issues. More than 150,000 young people ask for help with homelessness every year.">
        <meta property="twitter:image" content="https://centrepoint.org.uk/media/1311/chloe-smiling-fence.jpg" />


    <link href="https://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic" rel="stylesheet" />


    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">

    <!--[if lte IE 8]>
      <script src="/scripts/polyfills/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
      <script src="/scripts/polyfills/matchmedia+addlistener.js"></script>
      <script src="/scripts/polyfills/placeholders.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/styles/old-ie.css" /><![endif]-->
    <!--[if gte IE 10]><!-->
    <link rel="stylesheet" href="/styles/toolkit.css" /><!--<![endif]-->
    <script src="/Scripts/polyfills/picturefill.min.js"></script>
    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>




    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
        {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NGZ8BGW');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGZ8BGW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->




    <a href="#content-top" class="skip-link">Skip to content</a>

    <header>
        <div class="row row--flush row--allow-overflow">

            <div class="masthead">
                <div class="masthead__inner">

                        <div class="masthead__logo">
                            <a href="/"><img src="/media/1001/logo-centrepoint.png" alt="" /></a>
                        </div><!--/masthead__logo-->

                    <nav class="masthead__nav">
                        <ul class="masthead__nav__list">
                                    <li class="masthead__nav__item"><a href="/contact-us/">Contact Us</a></li>




    <li class="masthead__nav__item masthead__nav__item--basket">
        <a href="/basket/" ><i class="icon-basket"><span class="icon-hide-text">Basket</span></i> (<span id="basket-count">0</span> items)</a>
    </li>



                            <li class="masthead__nav__item masthead__nav__item--search" data-search-toggle>

                                <a href="#form-search" class="masthead__nav__search__toggle masthead__nav__search__toggle--show" data-search-trigger-show aria-label="Show search form"><i class="icon-search"><span class="icon-hide-text">Show search</span></i></a>

                                <a href="#form-search" class="masthead__nav__search__toggle masthead__nav__search__toggle--hide" data-search-trigger-hide aria-label="Hide search form"><i class="icon-cross"><span class="icon-hide-text">Hide search</span></i></a>



<form role="search" class="form--singlet masthead__nav__search__form" method="get" action="/site-search/" id="form-search" data-search-toggle-form data-fuzzy-search="/umbraco/surface/Search/AutoComplete?searchTerm=" aria-hidden="true">
    <div class="form--singlet__field">
        <input class="form--singlet__input" type="text" id="searchTerm" name="searchTerm" placeholder="Please search" aria-label="Please search" data-search-toggle-field data-fuzzy-search-field />
    </div>
    <div class="form--singlet__action">
        <button class="form--singlet__button" type="submit" data-search-toggle-submit><i class="icon-search"><span class="icon-hide-text">Go!</span></i></button>
    </div>
</form>

                            </li>
                        </ul>
                    </nav><!--/masthead__nav-->

                            <div class="masthead__donate">
                                <a href="/donate/" class="btn btn--primary" ><span>Donate</span></a>
                            </div><!--/masthead__donate-->



                </div><!--/masthead-->
            </div><!--/masthead-->


        </div><!--/row-->

        <div class="row row--flush row--allow-overflow">

            <nav class="nav" data-nav data-sticky>
                <div class="nav__outer" data-sticky-item>
                    <div class="nav__inner">

                        <a href="#navigation" class="nav__toggle" data-nav-toggle>Menu</a>

                        <div class="nav__main">


        <ul class="nav__list" id="navigation">
                        <li class="nav__list__item" data-nav-has-sub>
                            <a href="/youth-homelessness/" class="nav__list__link" data-nav-sub-toggle>Youth homelessness</a>
                                <div class="nav__sub">
                                    <ul class="nav__sub__list">
                                        <li class="nav__sub__list__item nav__sub__list__item--main"><a href="/youth-homelessness/" class="nav__sub__list__link">Youth homelessness</a></li>
                                            <li class="nav__sub__list__item"><a href="/youth-homelessness/the-issue/" class="nav__sub__list__link">The Issue</a></li>
                                            <li class="nav__sub__list__item"><a href="/youth-homelessness/the-solution/" class="nav__sub__list__link">The Solution</a></li>
                                            <li class="nav__sub__list__item"><a href="/youth-homelessness/get-help-now/about-the-centrepoint-helpline/" class="nav__sub__list__link">Centrepoint Helpline</a></li>
                                            <li class="nav__sub__list__item"><a href="/youth-homelessness/real-stories/" class="nav__sub__list__link">Real stories</a></li>
                                    </ul>
                                </div><!--/nav__sub-->
                        </li>
                        <li class="nav__list__item" data-nav-has-sub>
                            <a href="/what-we-do/" class="nav__list__link" data-nav-sub-toggle>What We Do</a>
                                <div class="nav__sub">
                                    <ul class="nav__sub__list">
                                        <li class="nav__sub__list__item nav__sub__list__item--main"><a href="/what-we-do/" class="nav__sub__list__link">What We Do</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/housing/" class="nav__sub__list__link">Housing</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/health/" class="nav__sub__list__link">Health</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/learning/" class="nav__sub__list__link">Learning</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/moving-on/" class="nav__sub__list__link">Moving On</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/influencing-policy-and-campaigning/" class="nav__sub__list__link">Policy and campaigning</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/the-street-football-association/" class="nav__sub__list__link">The Street Football Association</a></li>
                                            <li class="nav__sub__list__item"><a href="/what-we-do/the-youth-homelessness-databank/" class="nav__sub__list__link">Databank</a></li>
                                    </ul>
                                </div><!--/nav__sub-->
                        </li>
                        <li class="nav__list__item" data-nav-has-sub>
                            <a href="/about-us/" class="nav__list__link" data-nav-sub-toggle>About Us</a>
                                <div class="nav__sub">
                                    <ul class="nav__sub__list">
                                        <li class="nav__sub__list__item nav__sub__list__item--main"><a href="/about-us/" class="nav__sub__list__link">About Us</a></li>
                                            <li class="nav__sub__list__item"><a href="/about-us/who-we-are/" class="nav__sub__list__link">Who We Are</a></li>
                                            <li class="nav__sub__list__item"><a href="/about-us/impact-and-success/" class="nav__sub__list__link">Impact and Success</a></li>
                                            <li class="nav__sub__list__item"><a href="/about-us/partnering/" class="nav__sub__list__link">Partnering</a></li>
                                            <li class="nav__sub__list__item"><a href="/about-us/news/" class="nav__sub__list__link">News</a></li>
                                            <li class="nav__sub__list__item"><a href="/about-us/our-finances/" class="nav__sub__list__link">Our finances</a></li>
                                            <li class="nav__sub__list__item"><a href="/youth-homelessness/get-help-now/about-the-centrepoint-helpline/" class="nav__sub__list__link">Centrepoint Helpline</a></li>
                                    </ul>
                                </div><!--/nav__sub-->
                        </li>
                        <li class="nav__list__item" data-nav-has-sub>
                            <a href="/get-involved/" class="nav__list__link" data-nav-sub-toggle>Get Involved</a>
                                <div class="nav__sub">
                                    <ul class="nav__sub__list">
                                        <li class="nav__sub__list__item nav__sub__list__item--main"><a href="/get-involved/" class="nav__sub__list__link">Get Involved</a></li>
                                            <li class="nav__sub__list__item"><a href="/get-involved/volunteer/" class="nav__sub__list__link">Volunteer</a></li>
                                            <li class="nav__sub__list__item"><a href="/get-involved/fundraising-and-events/" class="nav__sub__list__link">Fundraising and events</a></li>
                                            <li class="nav__sub__list__item"><a href="/get-involved/corporate-partnerships/" class="nav__sub__list__link">Corporate partnerships</a></li>
                                            <li class="nav__sub__list__item"><a href="/get-involved/events-calendar/" class="nav__sub__list__link">Events Calendar</a></li>
                                            <li class="nav__sub__list__item"><a href="/get-involved/sleep-out/" class="nav__sub__list__link">Sleep Out</a></li>
                                    </ul>
                                </div><!--/nav__sub-->
                        </li>
                        <li class="nav__list__item" >
                            <a href="/sponsor-a-room-1/" class="nav__list__link" >Sponsor A Room</a>
                        </li>
                                <li class="nav__list__item nav__list__item--mobile-only"><a href="/contact-us/" class="nav__list__link">Contact Us</a></li>
        </ul><!--/nav__list-->



<form class="form--singlet nav__search__form" method="get" action="/site-search/" id="form-search-alt">
    <div class="form--singlet__field">
        <input class="form--singlet__input" type="text" id="form-search-alt__ff-search" name="searchTerm" placeholder="Please search" aria-label="Please search" />
    </div>
    <div class="form--singlet__action">
        <button class="form--singlet__button" type="submit"><i class="icon-search"><span class="icon-hide-text">Go!</span></i></button>
    </div>
</form>

                        </div><!--/nav__main-->

                                <div class="nav__donate">
                                    <a href="/donate/" class="btn btn--primary btn--fluid" ><span>Donate</span></a>
                                </div><!--/nav__donate-->

                    </div><!--/nav__inner-->
                </div><!--/nav__outer-->
            </nav>

        </div><!--/row-->
</header>


                <div class="row row--flush clr-yellow">

                <div class="cta-inline">
                        <h2 class="cta-inline__title">ARE YOU HOMELESS, SOFA SURFING OR AT RISK?</h2>
                                                <div class="cta-inline__action">
                                <a href="/youth-homelessness/get-help-now/" class="btn" >
                                    <span>Get Help Now</span>
                                </a>
                            </div>

                </div>
                <!--/cta-inline-->
            </div>
    <!--/row-->





            <div class="row row--flush">
                <nav class="breadcrumbs" role="navigation" aria-label="You are here:">
                    <div class="breadcrumbs__inner">
                        <ol class="breadcrumbs__list">

                                <li><a href="/" aria-level="1">Home</a></li>
                                <li><a href="/youth-homelessness/" aria-level="2">Youth homelessness</a></li>
                            <li><span aria-level="3" aria-label="Current page: The Issue">The Issue</span></li>
                        </ol>
                    </div>
                    <!--/breadcrumbs__inner-->
                </nav>
            </div>
            <!--/row-->





        <div class="row row--flush">

            <div class="hero  hero--content-right curved">

                    <div class="hero__media" data-image-cover>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/media/1102/chloe-on-a-bench.jpg?anchor=center&amp;amp;mode=crop&amp;amp;bgcolor=fff&amp;amp;rnd=131205935060000000" media="(min-width: 768px)"/>
                            <source srcset="/media/1102/chloe-on-a-bench.jpg?anchor=center&amp;amp;mode=crop&amp;amp;width=768&amp;amp;height=300&amp;amp;bgcolor=fff&amp;amp;rnd=131205935060000000" media="(min-width: 640px)" />
                            <source srcset="/media/1102/chloe-on-a-bench.jpg?anchor=center&amp;amp;mode=crop&amp;amp;width=640&amp;amp;height=200&amp;amp;bgcolor=fff&amp;amp;rnd=131205935060000000" media="(min-width: 480px)" />
                            <!--[if IE 9]></video><![endif]-->
                            <img src="/media/1102/chloe-on-a-bench.jpg?anchor=center&amp;mode=crop&amp;bgcolor=fff&amp;rnd=131205935060000000" alt="Chloe on a bench.jpg" class=""/>
                        </picture>

                        <!-- MASKING: Specify top, left, and width via inline style to adjust via CMS. Height should always be the same as width -->
                            <div class="hero__media__mask"><span class="hero__media__mask__overlay"></span></div>
                    </div><!--/hero__media-->
                <div class="hero__content clr-black-alpha">
                    <div class="hero__content__inner">

                        <div class="hero__copy">
                            <h1 class="hero__copy__title h-primary">The Issue</h1>
                            <p class="lead"><p><span>Homelessness is not only a housing problem. </span></p>
<p><span>There are lots of reasons why a young person could become homeless, including family breakdown and mental health issues.</span></p>
<p><span>More than 150,000 young people ask for help with homelessness every year.</span></p></p>

                        </div><!--/hero__copy-->

                    </div><!--/hero__content__inner-->
                </div><!--/hero__content-->

            </div><!--/hero-->

        </div><!--/row-->





    <div class="row ">

            <%= yield %>

    </div>
    <!--/row-->






    <div class="row row--flush">

        <div class="hero hero--tall hero--invert hero--half hero--content-right">
                <div class="hero__media" data-image-cover>
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/media/1294/ziggy-bigger.jpg?center=0.43220338983050849,0.50666666666666671&amp;amp;mode=crop&amp;amp;bgcolor=fff&amp;amp;rnd=131187687080000000" media="(min-width: 768px)"/>
                        <source srcset="/media/1294/ziggy-bigger.jpg?center=0.43220338983050849,0.50666666666666671&amp;amp;mode=crop&amp;amp;width=768&amp;amp;height=300&amp;amp;bgcolor=fff&amp;amp;rnd=131187687080000000" media="(min-width: 640px)" />
                        <source srcset="/media/1294/ziggy-bigger.jpg?center=0.43220338983050849,0.50666666666666671&amp;amp;mode=crop&amp;amp;width=640&amp;amp;height=200&amp;amp;bgcolor=fff&amp;amp;rnd=131187687080000000" media="(min-width: 480px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img src="/media/1294/ziggy-bigger.jpg?center=0.43220338983050849,0.50666666666666671&amp;mode=crop&amp;width=520&amp;height=200&amp;bgcolor=fff&amp;rnd=131187687080000000" alt="ziggy-bigger.jpg" class=""/>
                    </picture>

                    <!-- MASKING: Specify top, left, and width via inline style to adjust via CMS. Height should always be the same as width -->
                    <div class="hero__media__mask"><span class="hero__media__mask__overlay" style="top:-10%;left:10%;width:600px;height:600px;"></span></div>
                </div>
                <!--/hero__media-->

            <div class="hero__content">
                <div class="hero__content__inner">

                    <div class="hero__copy">
                            <h2 class="hero__copy__title h3">Ziggy&#39;s story</h2>

                                <p>
                                    Ziggy had a difficult journey before he came to Centrepoint - homelessness, drugs and crime. He’d been on a roller coaster ride of sleeping in unsafe places like bus shelters and falling in with a bad crowd, which led to run-ins with the police.
                                </p>

                                <p class="hero__copy__action  ">
                                    <a href="/youth-homelessness/real-stories/ziggys-story/" class="btn" ><span>Read Ziggy&#39;s incredible story</span></a>
                                </p>

                    </div>
                    <!--/hero__copy-->

                </div>
                <!--/hero__content__inner-->
            </div>
            <!--/hero__content-->

        </div>
        <!--/hero-->

    </div>
        <!--/row-->




<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">Family breakdown</span>
                Anger and abuse
        </h2>

    <div class="copy">
                <p class="lead">Relationship breakdown, usually between young people and their parents or step-parents, is a major cause of youth homelessness. Around six in ten young people who come to Centrepoint say they had to leave home because of arguments, relationship breakdown or being told to leave.

Many have experienced long-term problems at home, often involving violence, leaving them without the family support networks that most of us take for granted.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">Complex needs</span>
                Mental and physical
        </h2>

    <div class="copy">
                <p class="lead">Young people who come to Centrepoint face a range of different and complex problems. More than a third have a mental health issue, such as depression and anxiety, another third need to tackle issues with substance misuse. A similar proportion also need to improve their physical health.

These problems often overlap, making it more difficult for young people to access help and increasing the chances of them becoming homeless.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">Deprivation</span>
                Prospects and poverty
        </h2>

    <div class="copy">
                <p class="lead">Young people's chances of having to leave home are higher in areas of high deprivation and poor prospects for employment and education. Many of those who experience long spells of poverty can get into problem debt, which makes it harder for them to access housing.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row ">

        <h2 class="title title--dot">

                <span class="h-alt">Gang crime</span>
                Dangerous to stay
        </h2>

    <div class="copy">
                <p class="lead">Homeless young people are often affected by gang-related problems. In some cases, it becomes too dangerous to stay in their local area meaning they can end up homeless. One in six young people at Centrepoint have been involved in or affected by gang crime.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">Exclusion from school</span>
                Missing the signs
        </h2>

    <div class="copy">
                <p class="lead">Not being in education can make it much more difficult for young people to access help with problems at home or health problems. Missing out on formal education can also make it more difficult for them to move into work.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">Leaving care</span>
                On their own
        </h2>

    <div class="copy">
                <p class="lead">More than a quarter of young people at Centrepoint have been in care. They often have little choice but to deal with the challenges and responsibilities of living independently at a young age.
Traumas faced in their early lives make care leavers some of the most vulnerable young people in our communities, with higher chances of poor outcomes in education, employment and housing. Their additional needs mean they require a higher level of support to maintain their accommodation.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row ">

        <h2 class="title title--dot">

                <span class="h-alt">Refugees</span>
                Fleeing war and conflict
        </h2>

    <div class="copy">
                <p class="lead">Around 14 per cent of young people at Centrepoint are refugees or have leave to remain, meaning it isn't safe to return home. This includes young people who come to the UK as unaccompanied minors, fleeing violence or persecution in their own country. After being granted asylum, young people sometimes find themselves with nowhere to go and can end up homeless.</p>


    </div>
    <!--/copy-->

</div>
<!--/row-->    <section class="M33d">
        <div class="row clr-grey-light">

                <h2 class="title h3">Centrepoint supports more than 9,200 homeless young people a year - almost a third are under the age of 18</h2>

            <div class="promos">
                <div class="promos__inner">

                            <div class="promos__item">
            <div class="promos__item__inner">

                <figure class="promos__item__figure">

                    <div class="promos__item__media">
<img src="/media/1427/greybgstat-28pclivingincare.jpg?anchor=center&amp;mode=crop&amp;width=200&amp;height=200&amp;bgcolor=fff&amp;rnd=131419336760000000" alt="28% have been living in care" class=""/>
                    </div>
                    <!--/promos__item__media-->

                        <div class="promos__item__copy">
                            <figcaption class="promos__item__caption">28% have been living in care</figcaption>
                        </div>
                        <!--/promos__item__copy-->

                </figure>
            </div>
            <!--/promos__item__inner-->
        </div>
        <!--/promos__item-->


                            <div class="promos__item">
            <div class="promos__item__inner">

                <figure class="promos__item__figure">

                    <div class="promos__item__media">
<img src="/media/1425/greybgstat-27pcsleptrough.jpg?anchor=center&amp;mode=crop&amp;width=200&amp;height=200&amp;bgcolor=fff&amp;rnd=131419337330000000" alt="27% have slept slept rough" class=""/>
                    </div>
                    <!--/promos__item__media-->

                        <div class="promos__item__copy">
                            <figcaption class="promos__item__caption">27% have slept rough</figcaption>
                        </div>
                        <!--/promos__item__copy-->

                </figure>
            </div>
            <!--/promos__item__inner-->
        </div>
        <!--/promos__item-->


                            <div class="promos__item">
            <div class="promos__item__inner">

                <figure class="promos__item__figure">

                    <div class="promos__item__media">
<img src="/media/1426/greybgstat-14pcrefugees.jpg?anchor=center&amp;mode=crop&amp;width=200&amp;height=200&amp;bgcolor=fff&amp;rnd=131419335990000000" alt="14% are refugees" class=""/>
                    </div>
                    <!--/promos__item__media-->

                        <div class="promos__item__copy">
                            <figcaption class="promos__item__caption">14% are refugees</figcaption>
                        </div>
                        <!--/promos__item__copy-->

                </figure>
            </div>
            <!--/promos__item__inner-->
        </div>
        <!--/promos__item-->


                </div>
                <!--/promos__inner-->
            </div>
            <!--/promos-->
        </div>
        <!--/row-->
    </section>





<div class="row clr-white">

        <h2 class="title title--dot">

                <span class="h-alt">What is statutory homelessness?</span>
                legally entitled
        </h2>

    <div class="copy">
                <p class="lead">Only some homeless people are legally entitled to be housed by their local authority. The people that local authorities prioritise (in England, Scotland and Wales) are referred to as 'statutory homeless'. To be classed as statutory homeless you have to be eligible for assistance, unintentionally homeless and fall within a 'priority need' group. The priority need groups include pregnant women, those with dependent children and people who are vulnerable in some way for reasons such as mental illness or physical disability. The people that meet this criteria are referred to as ‘acceptances’. If you need more information about your legal rights, contact our Helpline.</p>

                <p class="copy__action">
                    <a href="/youth-homelessness/get-help-now/" class="btn"><span>Get Help Now</span></a>
                </p>

    </div>
    <!--/copy-->

</div>
<!--/row-->    <div class="row clr-yellow">

        <div class="media-block">
            <div class="media-block__inner">

                    <div class="media-block__media">
                        <div class="media-block__media__inner">
                            <figure class="media-block__media__figure">
                                        <a href="/what-we-do/the-youth-homelessness-databank/">
                                            <img src="/media/1343/iconbigyellow16-youthhomelessnessdatabank.jpg?anchor=center&amp;mode=crop&amp;width=440&amp;height=440&amp;bgcolor=fff&amp;rnd=131166872280000000" alt="The Youth Homelessness Databank" class=""/>
                                        </a>

 <figcaption>The Youth Homelessness Databank</figcaption>

                            </figure>
                        </div>
                        <!--/media-block__media__inner-->
                    </div>
                    <!--/media-block__media-->


                <div class="media-block__copy">
                    <div class="media-block__copy__inner">

                            <h2 class="media-block__title h3">Get the facts</h2>

                            <p>Facts and figures about youth homelessness are ambiguous and difficult to understand. Without knowing the true picture, how can we find the right solution?<br/>
<br/>
Centrepoint set up the Youth Homelessness Databank - a team dedicated to finding the facts.<br/>
<br/>
What has it found so far? At least 150,000 young people a year ask their local authority for help with homelessness.</p>

                                <p class="media-block__action"><a href="/what-we-do/the-youth-homelessness-databank/" class="btn"><span>The Youth Homelessness Databank</span></a></p>


                    </div>
                    <!--/media-block__copy__inner-->
                </div>
                <!--/media-block__copy-->

            </div>
            <!--/media-block__inner-->
        </div>
        <!--/media-block-->

    </div>
    <!--/row-->




<div class="row ">

        <h2 class="title title--dot">

                <span class="h-alt">What&#39;s the solution?</span>
                A home and a job
        </h2>

    <div class="copy">
                <p class="lead">A safe, warm and stable place to live is the first, crucial step for every homeless young person. Then, we help to tackle physical and mental health issues, teach basic life skills and get them back into education, training or a job - this is the recipe for supporting homeless young people into positive and independent living.</p>

                <p class="copy__action">
                    <a href="/youth-homelessness/the-solution/" class="btn"><span>Find out more about the solution</span></a>
                </p>

    </div>
    <!--/copy-->

</div>
<!--/row-->


<div class="row clr-teal">

        <h2 class="title title--dot">

                Are you young, homeless and in need of help?
        </h2>

    <div class="copy">
                <p class="lead">If you're experiencing any of these issues and are aged 16-25, or you know someone who is, we may have advice for you.</p>

                <p class="copy__action">
                    <a href="/youth-homelessness/get-help-now/" class="btn"><span>Get Help Now</span></a>
                </p>

    </div>
    <!--/copy-->

</div>
<!--/row-->





    <footer>

    <div class="row clr-grey-dark">

        <div class="footer">


    <div class="footer__sitemap">
            <div class="footer__sitemap__group">
                <h2 class="footer__sitemap__group__title h4">KEEP IN TOUCH</h2>
                <nav class="footer__sitemap__group__nav">

                    <ul>
                                <li><a href="/about-us/news/">Latest News</a></li>
                                <li><a href="http://www.facebook.com/centrepoint.charity" target="_blank">Facebook</a></li>
                                <li><a href="https://twitter.com/centrepointuk">Twitter</a></li>
                                <li><a href="https://www.youtube.com/user/CentrepointUK">Youtube</a></li>

                    </ul>
                </nav>
            </div><!--/footer__sitemap__group-->
            <div class="footer__sitemap__group">
                <h2 class="footer__sitemap__group__title h4">ABOUT US</h2>
                <nav class="footer__sitemap__group__nav">

                    <ul>
                                <li><a href="/about-us/who-we-are/">Who We Are</a></li>
                                <li><a href="/professionals/privacy-statement-and-cookies/">Privacy statement and cookies</a></li>
                                <li><a href="/professionals/accessibility/">Accessibility</a></li>
                                <li><a href="/professionals/terms-and-conditions/">Terms and conditions</a></li>
                                <li><a href="/working-with-supporters/">FAQs and supporter information</a></li>

                    </ul>
                </nav>
            </div><!--/footer__sitemap__group-->
            <div class="footer__sitemap__group">
                <h2 class="footer__sitemap__group__title h4">GET INVOLVED</h2>
                <nav class="footer__sitemap__group__nav">

                    <ul>
                                <li><a href="/get-involved/fundraising-and-events/">Fundraising</a></li>
                                <li><a href="/get-involved/volunteer/">Volunteer</a></li>
                                <li><a href="/donate/">Donate</a></li>
                                <li><a href="/jobs/">Jobs</a></li>
                                <li><a href="/sponsor-a-room/">Sponsor a Room</a></li>

                    </ul>
                </nav>
            </div><!--/footer__sitemap__group-->
            <div class="footer__sitemap__group">
                <h2 class="footer__sitemap__group__title h4">Contact Us</h2>
                <nav class="footer__sitemap__group__nav">

                    <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/contact-us/">Contact Us</a></li>

                                    <li>T: <a href="tel:+448454663400">0845 466 3400</a></li>
                    </ul>
                </nav>
            </div><!--/footer__sitemap__group-->
    </div><!--/footer__sitemap-->


            <div class="footer__legal">
    <p>&copy; Centrepoint 2017. Centrepoint is a registered charity in England &amp; Wales, No. 292411</p>
</div><!--/footer__legal-->

        </div><!--/footer-->

    </div><!--/row-->
</footer>

    <script src="/scripts/toolkit.js"></script>



<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a, m);
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-322615-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript">

    (function() {
        var clickManager = {
            init: function() {
                if (typeof window.pendingTrackers !== 'undefined') {
                    for (var i = 0; i < window.pendingTrackers.length; i++) {
                        this.trackFields(window.pendingTrackers[i]);
                    }
                }
            },
            trackFields: function (trackingModel) {
                var $fieldsToTrack = $(trackingModel.fieldSelector);

                if ($fieldsToTrack.length === 0) {
                    return;
                }

                $fieldsToTrack.off('click', null, this.onClick);
                $fieldsToTrack.on('click', null, trackingModel, this.onClick);
            },
            onClick: function (event) {
                var $input = event.target;
                var trackingData = event.data;

                ga('send', 'event', trackingData.formName, trackingData.formStep, clickManager.getCaption($input));
            },
            getCaption: function(field) {
                var $label = $('label[for="' + field.id + '"]');

                if ($label.length > 0) {
                    return $label[0].innerText;
                }

                if (typeof field.placeholder !== 'undefined' && field.placeholder.length > 0) {
                    return field.placeholder;
                }

                var $analyticsData = $(field).data('analytics-id');
                if ($analyticsData != null && $analyticsData.length !== 0) {
                    return $analyticsData;
                }

                return field.name;
            }
        };

        clickManager.init();
        window.clickManager = clickManager;

    })();
</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>
